@import url('https://fontlibrary.org//face/cmu-serif');

.Hour {
  grid-row: auto;
}

.Logo {
  background: local;
  background-size: cover;
  background-image: url('../public/logo.png');
}

.DayName {
  transform: translateY(-30%)
}

.background {
  filter: blur(2px);
  /* background-image: url('https://www.ensea.fr/sites/default/files/ensea_nouveaux_locaux_2007.jpg'); */
  background-image: url('https://www.ensea.fr/sites/default/files/beyond_engineering_ensea_0.png');
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  transform: translateY(60%) scale(0.7);
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: white;
}

.backdrop-blur-small {
  backdrop-filter: blur(1px)
}

.grid-rows-40 {
  grid-template-rows: repeat(25, 4%);
}

.h-1\/7 {
  height: calc(1/7)+"%";
}

.h-8\/10 {
  height: 80%;
}

.h-9\/10 {
  height: 90%;
}

.bottom--10 {
  bottom: -30px;
}

.my-1\/10 {
  margin-bottom: 10%;
  margin-top: 10%;
}

.my-1\/20 {
  margin-bottom: 5%;
  margin-top: 5%;
}

.left--1\/4 {
  transform: translateX()
}

.left-1\/8 {
  left: 12.5%
}

* {
  font-family: "cmu-serif", "consolas";
  box-sizing: border-box;
}

.App {
  text-align: center;
}flex-align

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.begin-8h {
  grid-row-start: 1;
}

.begin-8h30 {
  grid-row-start: 2;
}

.end-8h30 {
  grid-row-end: 2;
}

.begin-9h {
  grid-row-start: 3;
}

.end-9h {
  grid-row-end: 3;
}

.begin-9h30 {
  grid-row-start: 4;
}

.end-9h30 {
  grid-row-end: 4;
}

.begin-10h {
  grid-row-start: 5;
}

.end-10h {
  grid-row-end: 5;
}

.begin-10h30 {
  grid-row-start: 6;
}

.end-10h30 {
  grid-row-end: 6;
}

.begin-11h {
  grid-row-start: 7;
}

.end-11h {
  grid-row-end: 7;
}

.begin-11h30 {
  grid-row-start: 8;
}

.end-11h30 {
  grid-row-end: 8;
}

.begin-12h {
  grid-row-start: 9;
}

.end-12h {
  grid-row-end: 9;
}

.begin-12h30 {
  grid-row-start: 10;
}

.end-12h30 {
  grid-row-end: 10;
}

.begin-13h {
  grid-row-start: 11;
}

.end-13h {
  grid-row-end: 11;
}

.begin-13h30 {
  grid-row-start: 12;
}

.end-13h30 {
  grid-row-end: 12;
}

.begin-14h {
  grid-row-start: 13;
}

.end-14h {
  grid-row-end: 13;
}

.begin-14h30 {
  grid-row-start: 14;
}

.end-14h30 {
  grid-row-end: 14;
}

.begin-15h {
  grid-row-start: 15;
}

.end-15h {
  grid-row-end: 15;
}

.begin-15h30 {
  grid-row-start: 16;
}

.end-15h30 {
  grid-row-end: 16;
}

.begin-16h {
  grid-row-start: 17;
}

.end-16h {
  grid-row-end: 17;
}

.begin-16h30 {
  grid-row-start: 18;
}

.end-16h30 {
  grid-row-end: 18;
}

.begin-17h {
  grid-row-start: 19;
}

.end-17h {
  grid-row-end: 19;
}

.begin-17h30 {
  grid-row-start: 20;
}

.end-17h30 {
  grid-row-end: 20;
}

.begin-18 {
  grid-row-start: 21;
}

.end-18 {
  grid-row-end: 21;
}

.begin-18h30 {
  grid-row-start: 22;
}

.end-18h30 {
  grid-row-end: 22;
}

.begin-19h {
  grid-row-start: 23;
}

.end-19h {
  grid-row-end: 23;
}

.begin-19h30 {
  grid-row-start: 24;
}

.end-19h30 {
  grid-row-end: 24;
}

.end-20h {
  grid-row-end: 25;
}