@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ButtonNav {
    @apply bg-clip-text bg-gradient-to-bl from-main-orange text-transparent to-main-orange text-3xl font-bold font-marianne absolute
  }
  .NavNext {
    @apply right-0 -top-0.5
  }
  .NavPrev {
    @apply left-0 -top-0.5
  }
  .SearchBar {
    @apply bg-gradient-to-r h-[40%] text-2xl w-2/3 text-white rounded-lg border-white text-center font-academyLET font-medium leading-8 transition-all
  }
}

.GrayTextFadeGradient {
  --gray: rgba(55, 65, 81, 1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, var(--gray) 20%, var(--gray) 80%, rgba(0, 0, 0, 0) 90%);
}

*:focus {
  outline: none
}
*:focus-visible {
  outline: none
}

/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "DIN Alternate"; src: url("//db.onlinewebfonts.com/t/490a4d8d3a78b2c0ba5e434c76234790.eot"); src: url("//db.onlinewebfonts.com/t/490a4d8d3a78b2c0ba5e434c76234790.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/490a4d8d3a78b2c0ba5e434c76234790.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/490a4d8d3a78b2c0ba5e434c76234790.woff") format("woff"), url("//db.onlinewebfonts.com/t/490a4d8d3a78b2c0ba5e434c76234790.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/490a4d8d3a78b2c0ba5e434c76234790.svg#DIN Alternate") format("svg"); }
@import url(//db.onlinewebfonts.com/c/b6e1e126bc19c3e9fe26136203746a13?family=Kefa+PressS);
@font-face {font-family: "Kefa PressS"; src: url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot"); src: url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff") format("woff"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.svg#Kefa PressS") format("svg"); }
@font-face {font-family: "ITC Charter"; src: url("//db.onlinewebfonts.com/t/0e70b3a23ddb2c7338b99c8c4396a0d1.eot"); src: url("//db.onlinewebfonts.com/t/0e70b3a23ddb2c7338b99c8c4396a0d1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0e70b3a23ddb2c7338b99c8c4396a0d1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0e70b3a23ddb2c7338b99c8c4396a0d1.woff") format("woff"), url("//db.onlinewebfonts.com/t/0e70b3a23ddb2c7338b99c8c4396a0d1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0e70b3a23ddb2c7338b99c8c4396a0d1.svg#ITC Charter") format("svg"); }
@font-face {font-family: "DIN Condensed"; src: url("//db.onlinewebfonts.com/t/d45f96029e61832fd84afffd3068b768.eot"); src: url("//db.onlinewebfonts.com/t/d45f96029e61832fd84afffd3068b768.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d45f96029e61832fd84afffd3068b768.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d45f96029e61832fd84afffd3068b768.woff") format("woff"), url("//db.onlinewebfonts.com/t/d45f96029e61832fd84afffd3068b768.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d45f96029e61832fd84afffd3068b768.svg#DIN Condensed") format("svg"); }
@font-face {font-family: "DIN Condensed Web"; src: url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.eot"); src: url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.woff") format("woff"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.svg#DIN Condensed Web") format("svg"); }
@font-face {
  font-family: "Academy Engraved LET";
  src: url("http://db.onlinewebfonts.com/t/3c471385717f118ae2efdeabbdc50824.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/3c471385717f118ae2efdeabbdc50824.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/3c471385717f118ae2efdeabbdc50824.woff2") format("woff2"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3c471385717f118ae2efdeabbdc50824.woff") format("woff"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3c471385717f118ae2efdeabbdc50824.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/3c471385717f118ae2efdeabbdc50824.svg#Academy Engraved LET") format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "Marianne";
  src: url("http://db.onlinewebfonts.com/t/06bac77bab58bc871a4d97b66f9a1af0.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/06bac77bab58bc871a4d97b66f9a1af0.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/06bac77bab58bc871a4d97b66f9a1af0.woff2") format("woff2"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/06bac77bab58bc871a4d97b66f9a1af0.woff") format("woff"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/06bac77bab58bc871a4d97b66f9a1af0.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/06bac77bab58bc871a4d97b66f9a1af0.svg#Marianne") format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "Marianne";
  font-weight: 800;
  src: url('../public/Marianne-Bold.otf');
}

@font-face {
  font-family: "Cabin";
  src: url("//db.onlinewebfonts.com/t/846b1aef0646dfd6de1ae64f1d6a8991.eot");
  src: url("//db.onlinewebfonts.com/t/846b1aef0646dfd6de1ae64f1d6a8991.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/846b1aef0646dfd6de1ae64f1d6a8991.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/846b1aef0646dfd6de1ae64f1d6a8991.woff") format("woff"), url("//db.onlinewebfonts.com/t/846b1aef0646dfd6de1ae64f1d6a8991.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/846b1aef0646dfd6de1ae64f1d6a8991.svg#Cabin") format("svg");
}

@font-face {
  font-family: "Cabin Medium";
  src: url("//db.onlinewebfonts.com/t/f0e29f0b7216880f8cc891a7cfe6ef81.eot");
  src: url("//db.onlinewebfonts.com/t/f0e29f0b7216880f8cc891a7cfe6ef81.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f0e29f0b7216880f8cc891a7cfe6ef81.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f0e29f0b7216880f8cc891a7cfe6ef81.woff") format("woff"), url("//db.onlinewebfonts.com/t/f0e29f0b7216880f8cc891a7cfe6ef81.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f0e29f0b7216880f8cc891a7cfe6ef81.svg#Cabin") format("svg");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  src: url("//db.onlinewebfonts.com/t/5568f147bb1f439360dd828c107bd23f.eot");
  src: url("//db.onlinewebfonts.com/t/5568f147bb1f439360dd828c107bd23f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5568f147bb1f439360dd828c107bd23f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5568f147bb1f439360dd828c107bd23f.woff") format("woff"), url("//db.onlinewebfonts.com/t/5568f147bb1f439360dd828c107bd23f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5568f147bb1f439360dd828c107bd23f.svg#Cabin") format("svg");
}

/* latin-ext */
@font-face {
  font-family: 'Chango';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chango/v21/2V0cKI0OB5U7WaJCxne5fFU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chango';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chango/v21/2V0cKI0OB5U7WaJCyHe5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}